APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Kathmandu

GATEWAY_PORT=9000
PUBLIC_WEB_PORT=9001
STUDENT_WEB_PORT=9002
INSTRUCTOR_WEB_PORT=9003
ADMIN_WEB_PORT=9004
IDENTITY_SERVICE_PORT=9101

DB_HOST=host.docker.internal
DB_PORT=3307
DB_DATABASE=coursehub
DB_USERNAME=root
DB_PASSWORD=

IDENTITY_SESSION_TTL=28800
IDENTITY_ALLOWED_ORIGINS=http://localhost:9001,http://localhost:9002,http://localhost:9003,http://localhost:9004
